.container {
  overflow: auto;
}

.dragging {
  scroll-behavior: auto !important;
}

.dragging > * {
  pointer-events: none;
  cursor: grab;
}

.hideScrollbars {
  overflow: hidden;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hideScrollbars::-webkit-scrollbar {
  display: none !important;
  height: 0 !important;
  width: 0 !important;
  background: transparent !important;
  -webkit-appearance: none !important;
}

.nativeScroll {
  overflow: auto;
}
